{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Edit Product{% endblock title %}


{% block content %}

<div class="content">
    <div class="page-header">
    <div class="page-title">
    <h4>Product Edit</h4>
    <h6>Update your product</h6>
    </div>
    </div>
    
    <div class="card">
    <div class="card-body">
    <div class="row">

    <form method='post' class='row'>
    {% csrf_token %}
    <div class="col-lg-3 col-sm-6 col-12">
    <div class="form-group">
    <label>Product Name</label>
        {{form.name}}
    </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
    <div class="form-group">
    <label>Category</label>
  
        {{form.category}}
    
    </div>
    </div>
    
    <div class="col-lg-3 col-sm-6 col-12">
        <div class="form-group">
        <label>Supplier</label>
        {{form.supplier}}
        </div>
        </div>

    <div class="col-lg-3 col-sm-6 col-12">
    <div class="form-group">
    
    <label>Minimum Qty</label>
    <input type="text" value="5">
    </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
    <div class="form-group">
    <label>Quantity</label>
    {{form.quantity}}
    </div>
    </div>
    <div class="col-lg-12">
    <div class="form-group">
    <label>Description</label>
    {{form.description}}
    </div>
    </div>
    
    
    <div class="col-lg-3 col-sm-6 col-12">
    <div class="form-group">
    <label>Price</label>
    {{form.price}}
    </div>
    </div>
    
    
    <div class="col-lg-12">
    <button href="javascript:void(0);" class="btn btn-submit me-2">Update</button>
    <a href="{% url 'dashboard:productlist' %}" class="btn btn-cancel">Cancel</a>
    </div>
    </form>
    </div>


    </div>
    </div>
    
    </div>

{% endblock content %}