{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Product Details{% endblock title %}

{% block content %}

<div class="content">
    <div class="page-header">
    <div class="page-title">
    <h4>Product Details</h4>
    <h6>Full details of a product</h6>
    </div>
    </div>
    
    <div class="row" >
    <div class="col-lg-8 col-sm-12">
    <div class="card">
    <div class="card-body">
    <div class="productdetails">
    <ul class="product-bar">
    <li>
    <h4>Product</h4>
    <h6>{{product.name}}</h6>
    </li>
    <li>
    <h4>Category</h4>
    <h6>{{product.category}}</h6>
    </li>
    <li>
        <h4>Price</h4>
        <h6>{{product.price}}</h6>
        </li>
    <li>
    <h4>Quantity</h4>
    <h6>{{product.stock.quantity}}</h6>
    </li>
    <li>
    <h4>Min Qty</h4>
    <h6>{{product.min_quantity}}</h6>
    </li>
    <li>
        <h4>Max Qty</h4>
        <h6>{{product.max_quantity}}</h6>
        </li>

    
    <li>
    <h4>Description</h4>
    <h6>{{product.description}}</h6>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-12">
        <a href="{% url 'dashboard:productlist' %}" class="btn btn-submit me-2">Back to list</a>
        </div>
    </div>
   
    
</div>

{% endblock content %}