<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Supplier</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <div>
          <label for="supplier">Supplier:</label>
          <select name="supplier" required>
            {% for supplier in suppliers %}
              <option value="{{ supplier.id }}">{{ supplier.name }}</option>
            {% endfor %}
          </select>
          <input type="date" name="date">
        </div>
        <button type="submit">Select Supplier</button>
      </form>
</body>
</html>