{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Add Category{% endblock title %}
{% block content %}

<div class="content">
    <div class="page-header">
    <div class="page-title">
    <h4>Product Add Category</h4>
    <h6>Create new product Category</h6>
    </div>
    </div>
    
    <div class="card">
    <div class="card-body">
    <div class="row">
    <form method="post">
    {% csrf_token %}
    <div class="col-lg-6 col-sm-6 col-12">
    <div class="form-group">
    <label>Category Name</label>
    {{form.name}}
    </div>
    </div>
    
    <div class="col-lg-12">
    <div class="form-group">
    <label>Description</label>
    {{form.description}}
    </div>
    </div>
    <div class="col-lg-12">
    <!-- <a href="javascript:void(0);" class="btn btn-submit me-2">Submit</a> -->
    <button type="submit" class="btn btn-submit me-2">Submit</button>
    </form>
    <a href="{% url 'dashboard:index' %}" class="btn btn-cancel">Cancel</a>
    </div>
    </div>
    </div>
    </div>
    
    </div>

{% endblock content %}


