{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Welcome to admin dashboard{% endblock title %}





{% block content %}



<div class="content">
<div class="row">


<div class="col-lg-3 col-sm-6 col-12 d-flex">
<div class="dash-count">
<div class="dash-counts">
<h4>{{customers}}</h4>
<h5>Customers</h5>
</div>
<div class="dash-imgs">
<i data-feather="user"></i>
</div>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12 d-flex">
<div class="dash-count das1">
<div class="dash-counts">
<h4>{{suppliers}}</h4>
<h5>Suppliers</h5>
</div>
<div class="dash-imgs">
<i data-feather="user-check"></i>
</div>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12 d-flex">
<div class="dash-count das2">
<div class="dash-counts">
<h4>{{purchases_received}}</h4>
<h5>Purchase Received</h5>
</div>
<div class="dash-imgs">
<i data-feather="file-text"></i>
</div>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12 d-flex">
<div class="dash-count das3">
<div class="dash-counts">
<h4>{{sales_paid}}</h4>
<h5>Sales Paid</h5>
</div>
<div class="dash-imgs">
<i data-feather="file"></i>
</div>
</div>
</div>
</div>
<div class="row">
    <div class="col-lg-3 col-sm-6 col-12">
        <div class="dash-widget">
        <div class="dash-widgetimg">
        <span><img src="{% static 'img/icons/dash1.svg' %}" alt="img"></span>
        </div>
        <div class="dash-widgetcontent">
        <h5>$<span class="counters" data-count="{{total_purchases}}">${{total_purchases}}</span></h5>
        <h6>Total Purchase</h6>
        </div>
        </div>
        </div>
    <div class="col-lg-3 col-sm-6 col-12">
        <div class="dash-widget dash1">
        <div class="dash-widgetimg">
        <span><img src="{% static 'img/icons/dash2.svg' %}" alt="img"></span>
        </div>
        <div class="dash-widgetcontent">
        <h5>$<span class="counters" data-count="{{total_sales}}">${{total_sales}}</span></h5>
        <h6>Total Sales</h6>
        </div>
        </div>
        </div>
</div>
<div class="row">
<div class="col-lg-7 col-sm-12 col-12 d-flex">
<div class="card flex-fill">
<div class="card-header pb-0 d-flex justify-content-between align-items-center">
<h5 class="card-title mb-0">Purchase & Sales</h5>
<div class="graph-sets">
<ul>
<li>
<span>Sales</span>
</li>
<li>
<span>Purchase</span>
</li>
</ul>
<div class="dropdown">
<button class="btn btn-white btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
 2022 <img src="{% static 'img/icons/dropdown.svg' %}" alt="img" class="ms-2">
</button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
<li>
<a href="javascript:void(0);" class="dropdown-item">2022</a>
</li>
<li>
<a href="javascript:void(0);" class="dropdown-item">2021</a>
</li>
<li>
<a href="javascript:void(0);" class="dropdown-item">2020</a>
</li>
</ul>
</div>
</div>
</div>
<div class="card-body">
    

    {% comment %} <div id="sales_charts"></div>
    <script>

    </script> {% endcomment %}
</div>




</div>
</div>
<div class="col-lg-5 col-sm-12 col-12 d-flex">
<div class="card flex-fill">
<div class="card-header pb-0 d-flex justify-content-between align-items-center">
<h4 class="card-title mb-0">Recently Added Products</h4>
<div class="dropdown">
<a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false" class="dropset">
<i class="fa fa-ellipsis-v"></i>
</a>
<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
<li>
<a href="{% url 'dashboard:productlist' %}" class="dropdown-item">Product List</a>
</li>
<li>
<a href="{% url 'dashboard:addproduct' %}" class="dropdown-item">Product Add</a>
</li>
</ul>
</div>
</div>
<div class="card-body">
<div class="table-responsive dataview">
<table class="table datatable ">
<thead>
<tr>
<th>Id</th>
<th>Products</th>
<th>Price</th>
</tr>
</thead>
<tbody>
    {% for product in products %}
<tr>
<td>{{product.id}}</td>
<td >
{{product.name}}
</td>
<td>{{product.price}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>

</div>


{% endblock content %}


{% block script %}


{% endblock script %}

