{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Welcome to admin dashboard{% endblock title %}





{% block content %}



<div class="content">

<div class="row">
<div class="col-lg-3 col-sm-6 col-12 d-flex">
<div class="dash-count">
<div class="dash-counts">
<h4>{{customers}}</h4>
<h5>Customers</h5>
</div>
<div class="dash-imgs">
<i data-feather="user"></i>
</div>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12 d-flex">
<div class="dash-count das1">
<div class="dash-counts">
<h4>{{suppliers}}</h4>
<h5>Suppliers</h5>
</div>
<div class="dash-imgs">
<i data-feather="user-check"></i>
</div>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12 d-flex">
<div class="dash-count das2">
<div class="dash-counts">
<h4>{{purchases_received}}</h4>
<h5>Purchase Received</h5>
</div>
<div class="dash-imgs">
<i data-feather="file-text"></i>
</div>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12 d-flex">
<div class="dash-count das3">
<div class="dash-counts">
<h4>{{sales_paid}}</h4>
<h5>Sales Paid</h5>
</div>
<div class="dash-imgs">
<i data-feather="file"></i>
</div>
</div>
</div>
</div>
<div class="row">
    <div class="col-lg-3 col-sm-6 col-12">
        <div class="dash-widget">
        <div class="dash-widgetimg">
        <span><img src="{% static 'img/icons/dash1.svg' %}" alt="img"></span>
        </div>
        <div class="dash-widgetcontent">
        <h5>$<span class="counters" data-count="{{total_purchases}}">${{total_purchases}}</span></h5>
        <h6>Total Purchase</h6>
        </div>
        </div>
        </div>
    <div class="col-lg-3 col-sm-6 col-12">
        <div class="dash-widget dash1">
        <div class="dash-widgetimg">
        <span><img src="{% static 'img/icons/dash2.svg' %}" alt="img"></span>
        </div>
        <div class="dash-widgetcontent">
        <h5>$<span class="counters" data-count="{{total_sales}}">${{total_sales}}</span></h5>
        <h6>Total Sales</h6>
        </div>
        </div>
        </div>
</div>



<div class="row">
    <div class="col-lg-7 col-sm-12 col-12 d-flex">
        <div class="card flex-fill">
            
            <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">Purchase & Sales</h5>
                
                    <div class="graph-sets">
                        {% if years  %}
                        <form  method="post">
                            {% csrf_token %} 
                        <select name="year" class="select"  onchange="this.form.submit()">
                            <option value="" >year</option>
                            {% for year in years %}
                              <option value="{{ year|date:'Y' }}" >{{ year|date:'Y' }}</option>
                            {% endfor %}
                        </select> 
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="card-body">
                {% if sales  %}
                <canvas id="sales"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                    const sales = [
                        {% for sale in sales %}
                        {'month': '{{ sale.month|date:'F' }}', 'sales' : {{ sale.total_amount}} },
                        {% endfor %}
                    ];
                    const data = {
                        datasets : [{
                            label: 'Sales per Month',
                            data: sales,
                            backgroundColor:'rgba(255,26,104,0.2)',
                            borderColor:'rgba(255,26,104,1)',
                            tension: 0.4,
                            parsing : {
                                xAxisKey:'month',
                                yAxisKey:'sales'
                            }
                        }]
                    }
                    const config ={
                        type: 'line',
                        data ,
                        options: {
                        scales: {
                            y: {
                            beginAtZero: true
                            }
                        }
                        
                        }
                    }
                    const ctx = document.getElementById('sales');
                    const mychart = new Chart(ctx,config );
                </script>
                {% endif %}
            </div>
            <div class="card-body">
                {% if purchases  %}
                <canvas id="purchases"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                    const purchases = [
                        {% for purchase in purchases %}
                        {'month': '{{ purchase.month|date:'F' }}', 'purchases' : {{ purchase.total_order_cost }} },
                        {% endfor %}
                    ];
                    const data2 = {
                        datasets : [{
                            label: 'Purchases per Month',
                            data: purchases,
                            backgroundColor:'rgba(75,192,192,0.2)',
                            borderColor:'rgba(75,192,192,1)',
                            tension: 0.4,
                            parsing : {
                                xAxisKey:'month',
                                yAxisKey:'purchases'
                            }
                        }]
                    }
                    const config1 ={
                        type: 'line',
                        data: data2 ,
                        options: {
                        scales: {
                            y: {
                            beginAtZero: true
                            }
                        }
                        
                        }
                    }
                   
                    const mychart1 = new Chart(document.getElementById('purchases'), config1 );
                </script>
                {% endif %}
            </div>
            
        </div>
    </div>
    <div class="col-lg-5 col-sm-12 col-12 d-flex">
            <div class="card flex-fill">
            <div class="card-header pb-0 d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Products Out of Stock</h4>
            <div class="dropdown">
            <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false" class="dropset">
            <i class="fa fa-ellipsis-v"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
            <a href="{% url 'dashboard:productlist' %}" class="dropdown-item">Product List</a>
            </li>
            <li>
            <a href="{% url 'dashboard:addproduct' %}" class="dropdown-item">Product Add</a>
            </li>
            </ul>
            </div>
            </div>
            <div class="card-body">
            <div class="table-responsive dataview">
            <table class="table datatable ">
            <thead>
            <tr>
            <th>Id</th>
            <th>Products</th>
            <th>Min Quantity</th>
            <th>Stock Quantity</th>
            </tr>
            </thead>
            <tbody>
                {% for product in products %}
                {% if product.stock.quantity < product.min_quantity %}
                <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.min_quantity}}</td>
                    <td>{{product.stock.quantity}}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
            </table>
            </div>
            </div>
            </div>
    </div>
</div>
</div>

{% endblock content %}
