{% extends './loginbase.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}
<div class="login-userheading">
    <h3>Sign In</h3>
    <h4>Please login to your account</h4>
    </div>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-login">
        <label>Username</label>
        <div class="form-addons">
            {{ form.username }}
        <!-- <img src="{% static 'img/icons/mail.svg' %}" alt="img"> -->
        </div>
        </div>
        <div class="form-login">
        <label>Password</label>
        <div class="pass-group">
            {{ form.password }}
        </div>
        </div>
        <div class="form-login">
        <div class="alreadyuser">
        <h4><a href="forgetpassword.html" class="hover-a">Forgot Password?</a></h4>
        </div>
        </div>
        <div class="form-login">
        <button type="submit" class="btn btn-login">Sign In</button>
        <!-- <a class="btn btn-login" href="#" type="submit">Sign In</a> -->
        </div>
    </form>
    <div class="signinform text-center">
    <h4>Don’t have an account? <a href="{% url 'register' %}" class="hover-a">Sign Up</a></h4>
    </div>
{% endblock %}

